@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

html {
  font-size: 62.5%;
}

body {
  background-color: #000;
  margin: 0;
  font-family: "Poppins";
  height: 100vh;
}

a h1 {
  font-size: 3.2rem;
  width: auto;
  margin: auto;
}

.container {
  height: 7rem;
  background-color: #20c997;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  height: 8rem;
  display: flex;
  gap: 2rem;
}

a {
  color: #eee;
  text-decoration: none;
}

.pages {
  max-width: 140rem;
  padding: 1rem;
  margin: 0 auto;
}

.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
}

.tasks {
  height: 75vh;
  padding: 0 2rem 0 2rem;
  overflow-y: scroll;
}

.task-details {
  color: #eee;
  background: #20c9963c;
  border-radius: 0.4px;
  margin: 2rem auto;
  padding: 2rem;
  position: relative;
}
.task-details:hover {
  transition-duration: 0.4s;
  box-shadow: 1px 1px 2rem #69ebdb;
}

.task-details h3 {
  margin: 0 0 1rem 0;
  font-size: 2.4rem;
  text-transform: uppercase;
}

.task-details p {
  margin: 0;
  font-size: 1.4rem;
  text-transform: capitalize;
}

.task-details span {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  background: #63e6be;
  border: #151516 1px solid;
  padding: 0.6rem;
  border-radius: 50%;
  color: #333;
}

.material-symbols-outlined {
  height: auto;
  width: auto;
}

.form-field {
  justify-content: stretch;
}

label,
input {
  color: #333;
  font-weight: bold;
  display: block;
}

label {
  color: #aaa;
  text-transform: capitalize;
  font-size: 1.6rem;
}

form h3 {
  color: #eee;
  text-transform: uppercase;
  font-size: 2.4rem;
}

input {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 90%;
  border-radius: 0.4px;
  box-sizing: border-box;
  background-color: #be4bdb2d;
  border: 2px solid #be4bdb;
  color: #eee;
}

input:focus {
  transform: scale(1.03);
}

form button {
  margin-top: 2rem;
  background: #be4bdb;
  font-weight: 500;
  border: 0;
  color: #fff;
  padding: 1rem;
  font-family: "Poppins";
  border-radius: 0.4rem;
  cursor: pointer;
}
div.error {
  font-size: 1.6rem;
  padding: 1rem;
  background: #ffefef;
  border: 1px solid #e7195a;
  color: #e7195a;
  border-radius: 0.4rem;
  margin: 2rem 0;
}

input.error {
  border: 2px solid #db4b5e;
  background-color: #be4bdb2d;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.create {
  margin: auto;
}

.create h3 {
  font-size: 2rem;
  margin: 1.6rem 0;
}
.create input {
  width: 90%;
  margin: 7px;
}

.footer {
  font-size: 1.4rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
  color: white;
  text-align: center;
  /* z-index: 100; */
}

.icon {
  font-size: 1.8rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: #63e6be;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #054d37;
}

form.signup,
form.login {
  max-width: 40rem;
  margin: 4rem auto;
  padding: 2rem;
  border: 3px solid #63e6be;
  box-shadow: 2px 4px 1rem #be4bdb, 2px -2px 1rem #be4bdb;
  border-radius: 4px;
}

form.signup,
form.login {
  padding: 2.4rem;
}

form input {
  width: 100%;
}

.nav-links {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: capitalize;
}

.links {
  transition: background-color 0.5s, border-bottom 0.4s;
  padding: 1rem 2rem;
}

.links:hover {
  background-color: #054d374f;
  box-shadow: 0 2px 0 black;
}

.links:active {
  background-color: #a4bab34f;
  box-shadow: 0 3px 0 rgb(6, 90, 73);
}

.btn-logout {
  background: #054d374f;
  font-weight: 500;
  color: #eee;
  border: 2px solid #eee;
  padding: 0.6rem 1rem;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1.6rem;
}

.userName {
  padding-right: 4rem;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-weight: 600;
}

.load-div {
  position: absolute;

  height: 100vh;
  width: 100vw;
  background-color: #05454da4;
}

.hidden {
  display: none;
}

.loading {
  width: 12rem;
  height: 12rem;
  top: 40vh;
  left: 45vw;
  position: absolute;

  background-image: url("./image/load-removebg-preview.png");
  background-size: cover;
  animation: spin 4s linear infinite;

  filter: drop-shadow(2px 2px 10px hsla(185, 80%, 37%, 0.5));
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1020px) {
  html {
    /* 1 rem = 8px */
    font-size: 55.25%;
  }
}

@media (max-width: 853px) {
  html {
    /* 1 rem = 8px */
    font-size: 43.75%;
  }

  .home {
    gap: 2rem;
    grid-template-columns: 2fr 1fr;
  }

  .tasks {
    width: 60vw;
  }

  .create {
    width: auto;
    /* margin-bottom: 50px; */
  }

  .userName {
    padding-right: 2rem;
  }
}

@media (max-width: 586px) {
  html {
    /* 1 rem = 8px */
    font-size: 37.5%;
  }
}

@media (max-width: 586px) {
  .home {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .nav-links {
    padding: 0;
  }

  .nav-links .links {
    /* margin: 0px; */
    padding: 6px;
  }

  .tasks {
    width: 90vw;
    height: 40vh;
    margin: auto;
  }

  .userName {
    display: none;
  }

  .create {
    width: 80vw;
    margin: auto;
    margin-bottom: 90px;
  }

  input {
    width: 100%;
  }
}

@media (max-width: 342px) {
  html {
    /* 1 rem = 8px */
    font-size: 30%;
  }
}

/* 
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .container {
    height: auto;
    padding: 10px;
  }

  .pages {
    padding: 5px;
  }

  .home {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .tasks {
    height: auto;
    overflow-y: visible;
  }

  .task-details {
    width: 90%;
  }

  .login-links {
    display: flex;
    justify-content: end;
    gap: 0;
  }

  form.signup,
  form.login {
    max-width: 90%;
  }
  h1 {
    font-size: 24px;
  }

  .nav-links {
    gap: 5px;
  }

  form.signup,
  form.login {
    max-width: 90%;
    margin: 20px;
  }

  input {
    margin: 10px 0 10px 0;
  }
}

@media (max-width: 576px) {
  body {
    font-size: 12px;
  }

  img {
    display: none;
  }

  h1 {
    padding-left: 10px;
    height: auto;
    margin: auto;
    font-size: 20px;
  }

  .container {
    padding: 5px;
  }

  .wrapper {
    gap: 5px;
  }

  .pages {
    padding: 3px;
  }

  .home {
    gap: 10px;
  }

  .footer {
    font-size: 12px;
  }
} */
